#add_video_icon {
  font-size: 40px;
}

.add_video_modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal_box {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px;
}
